.header_mobile_menu {
  animation: animate_header_mobile_menu 0.5s ease-in-out;

  &_link_container {
    opacity: 0;
    animation: animate_header_mobile_menu_link_container 0.5s ease-in-out 0.5s forwards;
  }
}

@keyframes animate_header_mobile_menu {
  from {
    height: 0;
    visibility: hidden;
  }

  to {
    height: 100%;
    visibility: visible;
  }
}

@keyframes animate_header_mobile_menu_link_container {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
