.header_mobile_menu {
  animation: animate_header_mobile_menu 0.5s ease-in-out forwards;
}

@keyframes animate_header_mobile_menu {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}