# Main
NEXT_PUBLIC_BASE_URL=http://127.0.0.1:3000/
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Backend
AUTHOR_URL=http://localhost:8080/
AUTHOR_TOKEN=

# Analytic
APP_ENV=develop
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# 3rd party
OPENAI_URL=https://api.openai.com/
OPENAI_API_KEY=
DOKU_URL=https://api-sandbox.doku.com
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=