.plan__table {
  width: 100%;
  th,
  td {
    padding: 0.5rem;
    border: 1px solid black;
  }
}

.premium__quality__table {
  width: 100%;
  th,
  td {
    padding: 0.5rem;
    border: 1px solid black;
  }
}
